@yellow: #ebe856;

@mixin margenes(@top,@bottom) {
  margin-top: @top;
  margin-bottom: @bottom;
}

.jumbotron {
  background-color:@yellow;
  color: black;
  .margenes(50px,0px);
 }

.footer {
  padding: 10px 10px 0 10px;
  background-color:@yellow;
  margin-bottom: 0px;
  margin-top: 10px; }

.card-hotel {
  flex: 1 150px;
  padding: 2px 5px 2px 5px;
  margin-top: 10px; }

.btn-reserva {
  width: 100%; }

.tab-content {
  padding-top: 10px; }