.jumbotron {
  background-color: #b6b450;
  margin-top: 50px;
  margin-bottom: 0px;
  color: #f85d36; }

.footer {
  padding: 10px 10px 0 10px;
  background-color: #b6b450;
  margin-bottom: 0px;
  margin-top: 10px; }

.card-hotel {
  flex: 1 150px;
  padding: 2px 5px 2px 5px;
  margin-top: 10px; }

.btn-reserva {
  width: 100%; }

.tab-content {
  padding-top: 10px; }
