$yellow: #b6b450;
$green: #67e747;
$red: #f85d36;

@mixin margenes($top,$bottom, $color) {
  margin-top: $top;
  margin-bottom: $bottom;
  color: $color;
}

.jumbotron {
  background-color:$yellow;  
  @include margenes(50px,0px, $red);
}

.footer {
  padding: 10px 10px 0 10px;
  background-color: $yellow;
  margin-bottom: 0px;
  margin-top: 10px;
}

.card-hotel {
  flex: 1 150px;
  padding: 2px 5px 2px 5px;
  margin-top: 10px; 
}

.btn-reserva {
  width: 100%;
}

.tab-content {
  padding-top: 10px;
}